* {
    --color-aqua: #33f2db;
    --color-magenta: #bd12e8;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 300;
}

button {
    font-weight: 600;
}

body {
    height: 100%;
    margin: 0;
}
