on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: debug
        run: |
          ls -a ../pacifica-ui
      - name: Install Dependencies
        run: npm ci
      - name: Build Project
        run: npm run build
